 /*CSS Reset from josh*/

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
 }

 body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
 }

 img,
 picture,
 video,
 canvas,
 svg {
     display: block;
     max-width: 100%;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
 }

 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     overflow-wrap: break-word;
 }

 p {
     text-wrap: pretty;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     text-wrap: balance;
 }

 #root,
 #__next {
     isolation: isolate;
 }

 @font-face {
     font-family: 'myFont-score';
     src: url('./fonts/Kollektif-Bold.ttf');
 }

 @font-face {
     font-family: 'MyFont-regular';
     src: url('./fonts/Fontspring-DEMO-integralcf-regular.otf');
 }


 body {
     height: 100%;
     background-color: hsl(48, 100%, 46%);
     font-family: 'MyFont-regular', 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
 }

 h1 {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: clamp(24px, 4vw, 2.5rem);
     margin-block: 1rem 2rem;
 }

 h1 svg {
     width: 32px;
     height: 32px;
     margin-top: 8px;
 }

 main {
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 button {
     background-color: hsl(50, 100%, 65%);
     border: 6px solid hsl(40, 100%, 11%);
     transition: all 150ms ease;
     font-size: 2.2rem;
     padding: 1.2rem;
     border-radius: 50%;
 }

 /* button triagle code for both player and system */
 .play-section {
     display: flex;
     flex-direction: column;
     gap: .5rem;
     font-size: 1.2rem;

 }

 .playbutton {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     place-content: center;
     row-gap: 2.6rem;
 }

 .line-1,
 .line-2,
 .line-3 {
     position: absolute;
     top: 18%;
     left: 20%;
     width: 120px;
     height: 6px;
     z-index: -3;
     background-color: hsl(40, 100%, 18%);
     ;
 }

 .line-2 {
     top: 50%;
     left: 2%;
     transform: rotate(55deg);
 }

 .line-3 {
     top: 50%;
     left: unset;
     right: 2%;
     transform: rotate(-55deg);
 }

 /* player button section */
 .player-section {
     flex-direction: column-reverse;
 }

 .player-section h2 {
     color: rgb(0, 140, 58);
 }

 .player-playbutton {
     transform: rotate(180deg);
 }

 .player-playbutton button {
     outline: none;
     cursor: pointer;
     transition: all 150ms ease;
     transform: rotate(180deg);
 }

 .player-playbutton button:hover {
     transform: rotate(180deg) scale(1.1);
     background-color: hsl(50, 100%, 70%);
     box-shadow:
         0 0 0 8px hsl(49, 100%, 67%),
         0 0 0 16px hsla(49, 100%, 86%, 0);

 }

 .player-playbutton button:active {
     transform: rotate(180deg) scale(1);
     box-shadow:
         0 0 0 10px hsl(49, 57%, 54%),
         0 0 0 18px hsla(49, 100%, 79%, 0.523);
 }

 /* computer section heading */
 .computer-section h2 {
     color: rgb(131, 44, 0);

 }

 #player-paper,
 #computer-paper {
     grid-row-start: 1;
     grid-column-start: 3;
 }

 #player-scissors,
 #computer-scissors {
     grid-row-start: 2;
     grid-column-start: 2;
 }

 /* score section */
 .score-section {
     font-size: 1rem;
     margin-block: 2rem;
 }

 #scoreboard {
     font-family: 'myFont-score';
     display: flex;
     justify-content: center;
     gap: 1.4rem;
     align-items: center;
 }

 .score {
     font-size: 3rem;
 }

 #result {
     background-color: black;
     border-radius: 24px;
     padding: 8px 16px;
     color: white;
     margin-top: 12px;
     font-size: 1rem;
 }

 .round-section {
     /*changed font because other font not displaying number 4*/
     font-family: 'myFont-score';
     margin-top: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
 }
 .round-section h3 {
    text-wrap: nowrap;
 }
 .floating-info-container {
     position: relative;
 }

 .floating-info-btn {
     color: #706802;
     margin-bottom: 4px;
 }

 .floating-info-btn:hover {
     cursor: pointer;
     color: #3c3800;
 }

 .floating-info-container:hover #floating-info {
     display: block;
 }

 #floating-info {
     width: 200px;
     top: 100%;
     right: -150%;
     display: none;
     position: absolute;
     color: rgb(255, 255, 206);
     background-color: rgb(32, 26, 0);
     font-family: 'myFont-score';
     padding: 8px 16px;
     border-radius: 8px;
     box-shadow: 8px 8px 4px rgb(96, 62, 0);
 }
 #floating-info.show {
    display: block;
 }

 @media (min-width: 768px) {
     h1 svg {
         width: 50px;
         height: 50px;
         margin-top: 8px;
     }

     main {
         max-width: 1160px;
         margin-inline: auto;
         flex-direction: row;
         gap: 2rem;
     }

     button {
         width: 90px;
         border-width: 8px;
         font-size: 2.5rem;
         padding: 1.3rem;
     }

     .play-section {
         margin-top: 2rem;
         font-size: 1.5rem;
         gap: 1.5rem;

     }

     .playbutton {
         gap: 5rem 2rem;
     }

     .player-section {
         flex-direction: column;
     }

     .player-playbutton {
         transform: rotate(100deg);
     }

     .player-playbutton button {
         transform: rotate(-100deg);
     }

     .computer-playbutton {
         transform: rotate(-100deg);
     }

     .computer-playbutton button {
         transform: rotate(100deg);

     }

     .line-1,
     .line-2,
     .line-3 {
         top: 15%;
         width: 200px;
         height: 12px;
     }

     .line-2 {
         top: 50%;
         left: 3%;
         transform: rotate(60deg);
     }

     .line-3 {
         top: 50%;
         left: unset;
         right: 3%;
         transform: rotate(-60deg);
     }

     .player-playbutton button:hover {
         transform: rotate(-100deg);
         box-shadow:
             0 0 0 12px hsla(49, 100%, 67%, 0.841),
             0 0 0 24px hsla(49, 100%, 86%, 0);

     }

     .player-playbutton button:active {
         transform: rotate(-100deg) scale(1);
         box-shadow:
             0 0 0 14px hsla(49, 70%, 60%, 0.76),
             0 0 0 26px hsla(49, 100%, 79%, 0.523);
     }

     #floating-info {
         right: -250%;
     }
 }

 @media (min-width:1024px) {
     button {
         width: 100px;
         border-width: 10px;
         font-size: 3rem;
         padding: 1.5rem;
     }

     .score-section {
         width: 400px;
     }

     .playbutton {
         gap: 8rem 2rem;
     }
      #floating-info {
        width: 400px;
        right: -570%;
      }
 }