 /*CSS Reset from josh*/

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
 }

 body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
 }

 img,
 picture,
 video,
 canvas,
 svg {
     display: block;
     max-width: 100%;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
 }

 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     overflow-wrap: break-word;
 }

 p {
     text-wrap: pretty;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     text-wrap: balance;
 }

 #root,
 #__next {
     isolation: isolate;
 }

 @font-face {
     font-family: 'myFont-score';
     src: url('./fonts/Kollektif-Bold.ttf');
 }

 @font-face {
     font-family: 'MyFont-regular';
     src: url('./fonts/Fontspring-DEMO-integralcf-regular.otf');
 }


 body {
     background-color: hsl(48, 100%, 46%);
     font-family: 'MyFont-regular', 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
 }

 main {
     min-height: 100vh;
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 button {
     background-color: hsl(50, 100%, 65%);
     border: 6px solid hsl(40, 100%, 11%);
     font-size: 2rem;
     padding: .5rem;
     border-radius: 50%;
 }

 /* button triagle code for both player and system */
 .play-section {
     display: flex;
     flex-direction: column;
     gap: .5rem;
     font-size: 1.2rem;

 }

 .playbutton {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     place-content: center;
     row-gap: 1.4rem;
 }

 .line-1,
 .line-2,
 .line-3 {
     position: absolute;
     top: 18%;
     left: 20%;
     width: 120px;
     height: 6px;
     z-index: -3;
     background-color: hsl(40, 100%, 18%);
     ;
 }

 .line-2 {
     top: 51%;
     left: 1.5%;
     transform: rotate(53deg);
 }

 .line-3 {
     top: 51%;
     left: unset;
     right: 1.5%;
     transform: rotate(-53deg);
 }

 /* player button section */
 .player-section {
     flex-direction: column-reverse;
 }

 .player-section h2 {
     color: rgb(0, 140, 58);
 }

 .player-playbutton {
     transform: rotate(180deg);
 }

 .player-playbutton button {
     outline: none;
     cursor: pointer;
     transition: all 150ms ease;
     transform: rotate(180deg);
 }

 .player-playbutton button:hover {
     transform: rotate(180deg) scale(1.1);
     background-color: hsl(50, 100%, 70%);
     box-shadow:
         0 0 0 8px hsl(49, 100%, 67%),
         0 0 0 16px hsla(49, 100%, 86%, 0);

 }

 .player-playbutton button:active {
     transform: rotate(180deg) scale(1);
     box-shadow:
         0 0 0 10px hsl(49, 57%, 54%),
         0 0 0 18px hsla(49, 100%, 79%, 0.523);
 }

 /* computer section heading */
 .computer-section h2 {
     color: rgb(131, 44, 0);

 }

 #player-paper,
 #computer-paper {
     grid-row-start: 1;
     grid-column-start: 3;
 }

 #player-scissors,
 #computer-scissors {
     grid-row-start: 2;
     grid-column-start: 2;
 }

 /* score section */
 .score-section {
     font-size: 1rem;
     margin-block: 2rem;
 }

 #scoreboard {
     font-family: 'myFont-score';
     display: flex;
     justify-content: center;
     gap: 1.4rem;
     align-items: center;
 }

 .score {
     font-size: 3rem;
 }

 #result {
     background-color: black;
     border-radius: 24px;
     padding: 8px 16px;
     color: white;
     margin-top: 12px;
     font-size: 1rem;
 }

 @media (min-width: 768px) {
     main {
         max-width: 1160px;
         margin-inline: auto;
         flex-direction: row;
         gap: 2rem;
     }

     button {
         width: 90px;
         border-width: 8px;
         font-size: 2.5rem;
         padding: 1.3rem;
     }

     .play-section {
         /* width: 400px; */
         font-size: 2rem;
         gap: 2rem;

     }

     .playbutton {
         gap: 5rem 2rem;
     }

     .player-section {
         flex-direction: column;
     }

     .player-playbutton {
         transform: rotate(100deg);
     }

     .player-playbutton button {
         transform: rotate(-100deg);
     }

     .computer-playbutton {
         transform: rotate(-100deg);
     }

     .computer-playbutton button {
         transform: rotate(100deg);

     }

     .line-1,
     .line-2,
     .line-3 {
         top: 15%;
         width: 200px;
         height: 12px;
     }

     .line-2 {
         top: 50%;
         left: 3%;
         transform: rotate(60deg);
     }

     .line-3 {
         top: 50%;
         left: unset;
         right: 3%;
         transform: rotate(-60deg);
     }

     .player-playbutton button:hover {
         transform: rotate(-100deg);
         box-shadow:
             0 0 0 12px hsla(49, 100%, 67%, 0.841),
             0 0 0 24px hsla(49, 100%, 86%, 0);

     }

     .player-playbutton button:active {
         transform: rotate(-100deg) scale(1);
         box-shadow:
             0 0 0 14px hsla(49, 70%, 60%, 0.76),
             0 0 0 26px hsla(49, 100%, 79%, 0.523);
     }

     .score-section {
         width: 400px;
     }
 }
  @media (min-width:1024px) {
     button {
         width: 100px;
         border-width: 10px;
         font-size: 3rem;
         padding: 1.5rem;
     }

     .playbutton {
         gap: 8rem 2rem;
     }
 }